absl-py==0.7.1
astor==0.8.1
certifi==2019.9.11
future==0.18.2
gast==0.2.2
grpcio==1.30.0
h5py==2.10.0
joblib==0.13.2
Keras==2.3.1
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
keras-squeezenet==0.4
Markdown==3.2.2
mock==3.0.5
numpy==1.16.5
opencv-python==4.2.0
Pillow==6.2.0
protobuf==3.12.4
pywin32-ctypes==0.2.0
PyYAML==5.1.2
scikit-learn==0.21.3
scipy==1.4.1
six==1.14.0
tensorboard==2.1.1
tensorflow==2.1.0
tensorflow-estimator==2.1.0
termcolor==1.1.0
Werkzeug==0.16.0
wincertstore==0.2

